body {
    background-color: #bb9457;
}

h1 {
    color: #432818;
}

input {
    border: none;
    background-color: #432818;
    color: #bb9457;



}

button {
    background-color: #6f1d1b;
    border: none;
    color: #bb9457;
}

.showData {
    color: #6f1d1b;

}

/* .InputsThings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} */